name: Run Hermit Tool
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  hermit-conform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout action code
        uses: actions/checkout@v1
      - name: Docker login
        run: docker login ghcr.io -u $GITHUB_ACTOR -p $GITHUB_TOKEN
        env:
            GITHUB_ACTOR: ${{ github.actor }}
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Pull Docker image
        run: docker pull "ghcr.io/vikiss/hermit:latest"
      - name: Run Hermit
        id: hermittool
        uses: ./.github/actions/hermit
        with:
          hermit-param: 'some param'
          hermit-param-too: 'another hermit param'
      - name: print result
        run: echo "Hermit says ${{ steps.hermittool.outputs.result }}"
