name: Run Hermit Tool
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  hermit-conform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout action code
        uses: actions/checkout@v1
      - name: Run Hermit
        id: hermittool
        uses: ./.github/actions/hermit
        with:
          hermit-param: 'some hermit parameters for the docker image'
      - run: echo "Hermit says ${{ steps.hermittool.outputs.result }}"
