name: Run Hermit Tool
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  hermit-conform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout action code
        uses: actions/checkout@v1
      - name: Build SUT
        run: docker build -t vampi_docker:latest ./VAmPI
      - name: Run SUT
        run: docker run -d -p 8900:5000 vampi_docker:latest
      - name: Sleep for 1s
        uses: juliangruber/sleep-action@v1
        with:
          time: 1s
      - name: Verify SUT is up
        run: curl http://localhost:8900
      - name: Docker login
        run: echo "${{ secrets.PAT }}" | docker login ghcr.io -u vikiss --password-stdin
      - name: Docker pull
        run: docker pull ghcr.io/vikiss/hermit:latest
      - name: Run Hermit
        id: hermittool
        uses: ./.github/actions/hermit
        with:
          api-key: ${{ secrets.HERMIT_API_KEY }}
          target-url: 'https://hermit-service'
          show-config: '--show-config'
      - name: save result
        # run: echo "Hermit says ${{join(steps.hermittool.outputs.*, '\n')}}"
        uses: actions/upload-artifact@v2
        with:
          name: HermitReport
          path: HermitReportFolder
      - name: retrieve result
        uses: actions/download-artifact@master
        with:
          name: HermitReport
          path: HermitReportFolder
      - run: ls HermitReportFolder
      - run: cat HermitReportFolder/HermitReport
