name: Run Hermit Tool
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  hermit-conform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout action code
        uses: actions/checkout@v1
      - name: Docker login
        run: echo "${{ secrets.PAT }}" | docker login ghcr.io -u vikiss --password-stdin
      - name: Docker pull
        run: docker pull ghcr.io/vikiss/hermit:latest
      - name: Run Hermit
        id: hermittool
        uses: ./.github/actions/hermit
        with:
          hermit-param: 'some param'
          hermit-param-too: 'another hermit param'
      - name: print result
        run: echo "Hermit says ${{ steps.hermittool.outputs.result }}"
